body {
  padding-top: 110px;
}


/* Custom Classes */
#navyNav{
  margin: 0 10% 0 10%;
}
#bodyBox{
  margin: 0 20% 0 20%;
}
.leftbar{
  float:left;
  /* margin-left:10%; */
  clear:right;
}
.middle{
  /*margin-left:45%; /*worksfor now, might need to use grid system*/
  float:left;
  clear:right;
   margin-left:8%; 
}
.midpic{
  max-width:70px;
  max-height:70px;
}
.ihatethistext{
  margin-left:100px;
  margin-top:-110px;
}
.rightbar{
  float:right;
  max-width:20%;
}

/* Bootstrap Overrides */
.media-object{
    border-radius: 50%;
}

/* Web Classes */
div.circle-avatar{
/* make it responsive */
  max-width: 100%;
  width:100%;
  height:auto;
  display:block;
  /* div height to be the same as width*/
  padding-top:100%;

  /* make it a circle */
  border-radius:50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.portrait {
  max-width: 100%;
  max-height: 100%;
}
